@model IEnumerable<Diversnight.Web.Models.Site>

@{
    ViewBag.Title = "Dive sites " + @ViewBag.Year;
    var country = 0;
}

<h2>Dive sites @ViewBag.Year</h2>

<table class="table divesite-table">
    
    <tr>
        <th>@Html.DisplayNameFor(model => model.Country)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Organization)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.Country.Id == country ? "" : "country-first")">
            @if (item.Country.Id != country)
            {
                <th>
                @{country = item.Country.Id;}
                @Html.ActionLink(item.Country.Name, "Details", "Country", new {id = item.Country.Id}, new {@class = "country-link", name = item.Country.Id})
                </th>
            }
            else
            {
                <td></td>
            }

            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td class="divesite-name">
                @Html.ActionLink(item.Name, "Details", "site", new { id = item.Id }, null)
            </td>
            <td>@Html.ActionLink(item.Organization.Name, "Details", "Org", new { id = item.Organization.Id }, null)</td>
        </tr>
    }

</table>

@Html.ActionLink("Register your site", "Register", "Site", null, new { @class = "btn btn-primary pull-right"})