@model Diversnight.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "New user";
}


<div class="row">

    <div class="col-md-6">
        <h2>@ViewBag.Title</h2>
        <p>To register or edit a dive site you must be logged in. Please note that user accounts from the old website (pre-2014) are not transferred, so you will need to create a new user account.</p>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" class="btn btn-primary" value="Register" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-5 col-md-push-1">
        <h3>Just email and password?</h3>
        <p>After confirming your email address you will be able to edit your name and phone number. If your email address has been used as a dive site contact in the past, we might do some magic to connect your user to your divesite.</p>
        <p>If you have received an email from Diversnight lately, please register using the same email address.</p>
        
        <h3>I don't need more passwords!</h3>
        <p>That's fine. Just go to @Html.ActionLink("the login page", "Login", "Account") and log in using Facebook. Enter your email after confirming access to your account, and we're good.</p>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
