@model IEnumerable<Diversnight.Web.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>Roles</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.Contact != null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact.Lastname)
            </td>
        }
        else
        {
            <td colspan="2">Contact not connected</td>
        }

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
        </td>
    </tr>
}

</table>
