@model Diversnight.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your profile";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-6">
        <h3>Contact information:</h3>
        <div class="well">
            @if (Model.Contact == null)
            {
                <p>No contact information. Please add.</p>
            }
            else
            {
                <dl class="dl-horizontal">
                    <dt>Name:</dt>
                    <dd>@Model.Contact.Firstname @Model.Contact.Lastname</dd>

                    <dt>Email:</dt>
                    <dd>@Model.Contact.Email</dd>

                    <dt>Phone:</dt>
                    <dd>@Model.Contact.Phone</dd>
                </dl>
            }
        </div>
    </div>
    <div class="col-md-6">

        <h3>Your organization:</h3>
        @if (Model.Organization == null)
        {
            <p>No connected organization. Claim or create one.</p>
        }
        else
        {
            <div class="well">

                <h4>@Model.Organization.Name</h4>
                <p>@Html.DisplayFor(model => model.Organization.Website)</p>
                <p><em>@(!string.IsNullOrWhiteSpace(Model.Organization.Description) ? Model.Organization.Description : "No description")</em></p>
            </div>
            <div class="btn-group pull-right">
                <a class="btn btn-default">Manage</a>
                <a class="btn btn-danger">Disconnect</a>
            </div>
        }
    </div>
</div>
        <hr />
        <div>
            <h3>Account settings</h3>
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>

                <dt>Roles:</dt>
                <dd>
                    @foreach (string role in ViewBag.Roles)
                    {
                        @role
                    }
                </dd>
                @if (Model.Contact != null)
                {
                    <dt>Contact:</dt>
                    <dd>@Model.Contact.Firstname @Model.Contact.Lastname</dd>
                }
                else
                {
                    <dt>Contact:</dt>
                    <dd>No connected contact</dd>
                }
            </dl>
        </div>
